*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 512px;
}


.main_discord{
    height: 100vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    
}

.chat{
    overflow: auto;
}


footer{
    height: 80px;
    background-color: rgb(117, 116, 116);
    flex-shrink: 0;
    
}

.nav_task{
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    gap: 10px;
    
    img{
        border-radius: 50%;
        transform: translate(0, -10px);
    }
    
    i{
        font-size: 25px;
        transform: translate(0, -10px);
        
    }    

    .name_navtask{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    span{
        font-size: 12px;
    }
}
