* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 512px;
}



.wrapper {
    height: 100vh;
    background-color: rgb(68, 66, 66);
    display: flex;
    flex-direction: column;

}

.chat {
    background-color: rgb(20, 19, 24);
    display: flex;
    overflow: auto;
    flex-grow: 1;

}

.sidebar {
    width: 80px;
    background-color: rgb(20, 19, 24);
    flex-shrink: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;


    img {
        margin-top: 20px;
        position: relative;
    }

    img:not(:first-child) {
        border-radius: 50%;
    }
}

main {
    overflow-y: auto;
    border-top: 10px solid rgb(45, 45, 53);
    border-left: 10px solid rgb(45, 45, 53);
    border-top-left-radius: 20px;
    margin-top: 5px;
    background-color: rgb(45, 45, 53);
    width: 100%;

    h2 {
        color: white;
        font-size: 25px;
        margin-left: 15px;
        margin-top: 15px;
    }
}

button{ 
   text-align: center;
   font-size: 14px; 
   background-color: rgb(64, 66, 77);
   color: white;
}

.btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.sertch_btn button{
    border-radius: 50%;
    padding: 3px 4px;
    font-size: 14px;
}

.friend_sertch button {
    width: 250px;
    height: 23px;
    font-size: 15px;
    border-radius: 20px;
    
     
}

.friend_list {
    font-size: 15px;
    color: rgb(128, 123, 123);
    margin-left: 10px;
    font-weight: 800;
}

.friend_list ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.friend_list li {
    display: flex;
    align-items: center; 
    position: relative;
}



.friend_list li img {
    border-radius: 50%;
}

.friend_list li span {
    margin-left: 12px;
}

li .name{
    font-weight: 00px;
    font-size: 16px;
}

li .msg{
    font-size: 10px;
}

.container{
    margin-left: 10px;
}

li .time{
    display: flex;
    position: absolute;
    right: 2px;
}

footer {
    height: 80px;
    background-color: rgb(117, 116, 116);
    flex-shrink: 0;

}

.nav_task {
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    gap: 10px;

    img {
        border-radius: 50%;
        transform: translate(0, -10px);
    }

    i {
        font-size: 25px;
        transform: translate(0, -10px);

    }

    .name_navtask {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    span {
        font-size: 12px;
    }
}